<% readonly = readonly || false %>
<%= form_with model: user do |form| %>
  <div class="mb-3">
    <%= form.label :username %>
    <%= form.text_field(:username, class:'form-control', disabled: readonly || false) %>
    <%= render "errors", object: user, key: :username %>
  </div>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.email_field(:email, class:'form-control', disabled: readonly || false) %>
    <%= render "errors", object: user, key: :email %>
  </div>

  <% unless readonly %>

    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field(:password, class:'form-control') %>
    </div>

    <div class="mb-3">
      <%= form.submit(class:'btn btn-primary') %>
    </div>
  <% end %>

<% end %>
